@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Chakra Petch', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:#1EF6F9;
  background-color:  #14131E;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: linear-gradient( 143.77deg, rgba(30, 246, 249, 0.17) 21.14%, rgba(252, 209, 31, 0.17) 78.86%);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: linear-gradient(143.94deg, #1ef6f9 21.07%, #fcd11f 84.36%);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: rgba(252, 209, 31, 1);
}

button{
  cursor: pointer;
}